@charset "utf-8";
@import "variables";
.img_container{
  width:100%;
  img{
    height:100%;
    width:100%;
  }
}
.bac_c{
  width:100%;
  min-height:(375rem/75);
  background:#c0f3ee;
  .b_container{
    margin:0 $margin_20 0 $margin_20;
    min-height:(375rem/75);
    .img_1:last-of-type{
      margin-bottom:0;
    };
    .img_1{
      height:(164rem/75);
      border-top:(1rem/75) solid #ffffff;
      border-bottom:(1rem/75) solid #ffffff;
      background:#d8f8f5;
      position: relative;
      border-radius:(4rem/75);
      margin-bottom:$margin_20;
      .img_left{
        float:left;
        width:(166rem/75);
        height:(124rem/75);
        padding-top:$margin_20;
        padding-left:$margin_20;
        img{
          height:100%;
          width:100%;
        }
      };
      .contain_img{
        width:(334rem/75);
        height:(144rem/75);
        padding-top:$margin_20;
        float:left;
        .p_1{
          font-size:$font_28;
          color:#333333;
          font-weight:700;
          text-indent:(18rem/75);
          height:(44rem/75);
          line-height:(44rem/75);
        };
        .p_2{
          font-size:$font_24;
          color:#7b8180;
          text-indent:(18rem/75);
          height:(40rem/75);
          line-height:(40rem/75);
        };
        .p_3{
          font-size:$font_24;
          color:#7b8180;
          text-indent:(18rem/75);
          height:(40rem/75);
          line-height:(40rem/75);
        }
      };
      .right_im{
        position:absolute;
        width:(144rem/75);
        height:(60rem/75);
        line-height:(60rem/75);
        color:#ffffff;
        background:#ff6666;
        text-align:center;
        top:(56rem/75);
        right:(20rem/75);
        border-radius:(50rem/75);
        font-size:$font_24;
      }
    }
  }
};
.fot{
  width:100%;
  height:(88rem/75);
}
.foot_m{
  width:100%;
  height:(88rem/75);
  line-height:(88rem/75);
  text-align:center;
  color:#ffffff;
  background:#ff6666;
  font-size:$font_28;
  position:fixed;
  bottom:0;
  left:0;
}

/*没有体检的健康报告*/
body{
  background:#eeeeee;
}
.health_m{
  width:100%;
  img{
    height:100%;
    width:100%;
  }
};
.con_m{
  width:100%;
  min-height:(300rem/75);
  .con_1{
    margin:0 $margin_20 0 $margin_20;
    height:(75rem/75);
    line-height:(75rem/75);
    text-indent:$margin_20;
    color:#666666;
    position:relative;
  };
  .con_1:before{
    content: '';
    width:(10rem/75);
    height:(34rem/75);
    background:#26c4b6;
    position:absolute;
    left:0;
    top:$margin_20;
  };
  #ba_m{
    background:#ffffff;
  };
  #img_2{
    background:none;
    border-radius: 0;
  };
  #img_3{
    background:none;
    border-radius: 0;
  };

}