@charset "utf-8";
@import "variables";
.he{
  height:100%;
  background:#eeeeee;
  .id_top{
    width:100%;
    height:(99rem/75);
    border-bottom:(1rem/75) solid #eeeeee;
    background:#ffffff;
    .id_con{
      margin:0 $margin_20;
      position: relative;
      height:(99rem/75);
      line-height:(99rem/75);
      text-align:center;
      color:#333333;
      font-size:(32rem/75);
      img{
        width:(20rem/75);
        height:(36rem/75);
        position: absolute;
        top:(30rem/75);
        left:0;
      }
    }
  }
  /*工资明细*/
  .wages_i{
    width:100%;
    height:(67rem/75);
    border-bottom:(1rem/75) solid #eeeeee;
    background:#fff9ec;
    color:#faae42;
    font-size:$font_24;
    position: relative;
    line-height:(67rem/75);
    text-indent:(88rem/75);
    img{
      width:(44rem/75);
      height:(43rem/75);
      display:block;
      position:absolute;
      left:$margin_20;
      top:(10rem/75);
    }
  }
  /*cha寻月份工资*/
  .wages_c{
    width:100%;
    min-height:(534rem/75);
    background:#ffffff;
    /*border-bottom:(1rem/75) solid #eeeeee;*/
    .wages_con{
     .wages_li{
       height:(90rem/75);
       width:100%;
       border-bottom:(1rem/75) solid #eeeeee;
       .wages_l{
         margin:0 $margin_20;
         height:(90rem/75);
         position: relative;
         span{
           height:(90rem/75);
           line-height:(90rem/75);
           color:#333333;
           font-size:$font_26;
         }
         img{
           width:(15rem/75);
           height:(26rem/75);
           display:block;
           position:absolute;
           right:0;
           top:(30rem/75);
         }
       }

     }
    }
  }
}
