@charset "utf-8";
/*样式初始化*/
html {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling:touch;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Microsoft YaHei", 微软雅黑, Arial, Helvetica, sans-serif;
  color: #333;
}

select {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

input {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  line-height: normal;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit] {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
}

input[type=file] {
  width: 100%;
  height: 100%;
  opacity: 0;
}

textarea {
  resize: none;
  border: 0
}

button {
  background-color: transparent;
  -webkit-appearance: none;
}

li {
  list-style: none;
}

div,
img,
p,
h1,
h2,
h3,
input,
select,
button,
table,
th,
td,
form,
ul,
ol,
li,
em,
strong,
a,
span,
i {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
a:visited,a:hover,a:active{text-decoration:none;}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
del,
caption,
th,
td,
strong,
em,
i {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
}

del,
ins {
  text-decoration: none;
}

q::before,
q::after {
  content: '';
}

a {
  text-decoration: none;
  color: #333;
}

a:active {
  outline: 0;
}

img {
  display: block;
  width: 100%;
  -webkit-touch-callout: none;
}

/*样式初始化结束*/

/*公共样式开始*/
.clearfix:before {
  display: none;
  content: "";
  width: 0;
  height: 0;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*水平居中*/
.center-x {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

/*垂直居中*/
.center-y {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

/*水平垂直居中*/
.center-xy {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/*极验样式开始*/
.layer-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  background: #000;
  opacity: 0.3;
  z-index: 10000;
}

.layer-code {
  width: 290px;
  height: 188px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -94px;
  margin-left: -145px;
  z-index: 10001;
  position: fixed;
}

/*极验样式结束*/
/*遮罩层开始*/
.tui-mask {
  background: #000;
  opacity: 0.58;
  filter: alpha(opacity=58);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10000;
}

.mask-layer, .mask-layer-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  top: 0;
  left: 0;
  overflow: hidden;
}

.mask-layer-2 {
  background: #000;
  filter: alpha(opacity=30) !important;
  -moz-opacity: 0.3 !important;
  opacity: 0.3 !important;
  position: fixed;
  bottom: 0;
  cursor: pointer;
}

/*遮罩层结束*/
/*默认弹框*/
.tui-message {
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.tui-loading {
  width: 110px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  margin-top: -34px;
  border: 2px solid #5e5e5e;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #999;
  z-index: 10001;
  position: fixed;
}

.tui-loading-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10002;
  background: #000;
  opacity: 0.88;
}

.tui-loading-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -15px;
  z-index: 10003;
  background: url(../images/loading.gif) no-repeat center center;
  background-size: 20px;
}

.tui-loading-text {
  height: 100%;
  line-height: 68px;
  text-align: center;
  color: #c1c1c1;
  position: absolute;
  z-index: 10004;
  top: 0;
  left: 0;
  padding-left: 45px;
  font-size: 14px;
}

.tui-tip {
  position: absolute;
  z-index: 10001;
  width: 100%;
  top: 0;
  left: 0;
}

.tui-mask-tip {
  opacity: 0;
}

.tui-tip-bg {
  position: absolute;
  width: 95%;
  margin: 15px 2.5%;
  height: 50px;
  position: absolute;
  z-index: 10002;
  background: #000;
  opacity: 0.58;
  border-radius: 5px;
  animation: tui-tip-opacity 1.5s;
  -webkit-animation: tui-tip-opacity 1.5s;
}

.tui-tip-text {
  position: absolute;
  width: 95%;
  padding: 15px 2.5%;
  margin-top: 15px;
  position: absolute;
  z-index: 10003;
  text-align: center;
  color: #fff;
  word-wrap: break-word;
}

.tui-tip-confirm {
  margin-top: 15px;
}

.tui-tip-confirm .yes, .tui-tip-confirm .no {
  display: inline-block;
  width: 100px;
  height: 40px;
  background: #2bb7ac;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

.tui-tip-confirm .yes:hover {
  background-color: #3eccc1;
}

.tui-tip-confirm .yes:active {
  background-color: #1ca197;
}

.tui-tip-confirm .no {
  margin-left: 10px;
  background: #bfc2c7;
}

.tui-tip-confirm .no:hover {
  background: #d6d7d9;
}

.tui-tip-confirm .no:active {
  background: #aaafb8;
}

/*tui-tip-opacity*/
@keyframes tui-tip-opacity {
  from {
    opacity: 0;
    filter: alpha(opacity=0)
  }
  to {
    opacity: 0.58;
    filter: alpha(opacity=58)
  }
}

@-webkit-keyframes tui-tip-opacity {
  from {
    opacity: 0;
    filter: alpha(opacity=0)
  }
  to {
    opacity: 0.58;
    filter: alpha(opacity=58)
  }
}

/*公共弹框结束*/