@charset "utf-8";
/*
$width:100%;
$background:#333;*/
/*头部的变量*/
$top_h:(97rem/75 );
/*margin20*/
$margin_20:(20rem/75);
/*32px字体*/
$font_m:((32rem/75));
/*28号字体*/
$font_28:(28rem/75);
/*24号字体*/
$font_24:(24rem/75);
/*20号字体*/
$font_20:(20rem/75);
/*26号字体*/
$font_26:(26rem/75);
/*30号字体*/
$font_30:(30rem/75);
/*paddding33*/
$padding_33:(33rem/75);
