@charset "UTF-8";
/*
$width:100%;
$background:#333;*/
/*头部的变量*/
/*margin20*/
/*32px字体*/
/*28号字体*/
/*24号字体*/
/*20号字体*/
/*26号字体*/
/*30号字体*/
/*paddding33*/
/*top*/
/*.header-top{
  width:100%;
  height:$top_h;
  border-bottom:1px solid #eeeeee;
  position:relative;
}
.header-top img{
    width:$margin_20;
    height:(36rem/75);
    position:absolute;
     top:(30rem/75);
     left:$margin_20;
}
.header-top h2{
  height:$top_h;
  text-align:center;
  line-height:$top_h;
  font-size:$font_m;
  color:#333333;
}
.header-top a{
   line-height:$top_h;
   font-size:$font_28;
   color:#8f8f8f;
   position:absolute;
   right:$margin_20;
   top:0;
}*/
/*内容部分*/
.container_staff {
  width: 100%;
  height: 2.36rem;
  border-bottom: 0.2666666667rem solid #eeeeee;
  /*display:flex;
  display: -webkit-flex;*/
  padding-top: 0.44rem;
  position: relative; }

.fu_shop {
  width: 3.2rem;
  float: left; }

.xin_z {
  width: 3.2rem;
  /*margin:0 auto;*/
  position: absolute;
  left: 50%;
  top: 0.44rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.ti_jian {
  width: 3.2rem;
  float: right; }

.container_staff dl {
  height: 2rem; }

.container_staff dl dt {
  height: 1.32rem;
  /*  width:(99rem/75);*/
  margin-bottom: 0.12rem; }

.container_staff dl dt img {
  height: 1.32rem;
  width: 1.32rem;
  margin: 0 auto;
  display: block; }

.container_staff dl dd {
  height: 0.5733333333rem;
  line-height: 0.5733333333rem;
  text-align: center;
  color: #3e3e3e;
  font-size: 0.32rem; }

/*热销商品*/
.selling {
  width: 100%;
  min-height: 6.04rem;
  border-bottom: 0.2666666667rem solid #eeeeee; }
  .selling .selling_top {
    height: 1.0666666667rem; }
    .selling .selling_top .selling_container {
      position: relative;
      /* width:(680rem/75);
       margin:0 auto;*/
      margin: 0 0.4266666667rem 0 0.4266666667rem; }
      .selling .selling_top .selling_container .sell_1 {
        position: absolute;
        width: 0.12rem;
        height: 0.4533333333rem;
        left: 0;
        top: 0.3333333333rem; }
      .selling .selling_top .selling_container .sell_2 {
        position: absolute;
        width: 0.2rem;
        height: 0.3466666667rem;
        right: 0.2666666667rem;
        top: 0.3733333333rem; }
      .selling .selling_top .selling_container .sell_good {
        height: 1.0666666667rem;
        line-height: 1.0666666667rem;
        text-indent: 0.2666666667rem; }
  .selling .time_shop {
    width: 100%;
    height: 4.9733333333rem;
    border-bottom: 0.0133333333rem solid #dddddd;
    border-top: 0.0133333333rem solid #dddddd;
    overflow: hidden;
    /* border-top:(1rem/75) solid #dddddd;*/ }
    .selling .time_shop .time_m {
      /* width:(680rem/75);m*/
      height: 4.9733333333rem;
      /*margin:0 auto;m*/
      width: 100%;
      /*display:flex;
      display: -webkit-flex;*/ }
      .selling .time_shop .time_m .time_left {
        width: 4.7866666667rem;
        height: 4.6666666667rem;
        float: left;
        /*border-right:(1rem/75) solid #dddddd;*/
        padding-top: 0.32rem; }
        .selling .time_shop .time_m .time_left .time_shop_one {
          height: 0.5066666667rem;
          margin-bottom: 0.1333333333rem;
          margin-left: 0.4266666667rem; }
          .selling .time_shop .time_m .time_left .time_shop_one span {
            height: 0.5066666667rem;
            line-height: 0.5066666667rem;
            /* text-indent:$margin_20;*/
            font-size: 0.4rem;
            color: #ff6666;
            font-weight: 600;
            display: block;
            width: 1.84rem;
            float: left; }
          .selling .time_shop .time_m .time_left .time_shop_one .time_container {
            height: 0.5066666667rem;
            float: left;
            display: flex;
            /*width:(203rem/75);
            padding-left:$margin_20;*/ }
            .selling .time_shop .time_m .time_left .time_shop_one .time_container .time_m {
              background: #ff6666;
              color: #fff;
              line-height: 0.5066666667rem;
              font-size: 0.2666666667rem;
              border-radius: 0.0666666667rem;
              /* margin-right:(20rem/75);*/
              display: inline-block;
              height: 0.5066666667rem;
              text-align: center;
              width: 0.5066666667rem; }
        .selling .time_shop .time_m .time_left .portable_battery {
          height: 0.8rem;
          line-height: 0.8rem;
          text-indent: 0.4266666667rem;
          color: #666666;
          font-size: 0.3466666667rem; }
        .selling .time_shop .time_m .time_left .img_time {
          height: 2.5333333333rem;
          padding-top: 0.5333333333rem; }
          .selling .time_shop .time_m .time_left .img_time img {
            display: block;
            height: 1.96rem;
            width: 4.16rem;
            margin-left: 0.4266666667rem; }
      .selling .time_shop .time_m .time_right {
        /* flex:1;*/
        float: right;
        width: 4.8rem;
        height: 4.9733333333rem;
        /* padding-top:(24rem/75);*/
        border-left: 0.0133333333rem solid #dddddd; }
        .selling .time_shop .time_m .time_right .Headset {
          height: 2.1733333333rem;
          padding-top: 0.32rem;
          border-bottom: 0.0133333333rem solid #dddddd;
          margin-bottom: 0.0533333333rem;
          /*m*/
          /* display:flex;
           display: -webkit-flex;*/ }
          .selling .time_shop .time_m .time_right .Headset .headset_left {
            float: left;
            width: 2.6666666667rem;
            /* flex:1;*/
            height: 2.1333333333rem; }
            .selling .time_shop .time_m .time_right .Headset .headset_left .h_3 {
              width: 2.9866666667rem;
              height: 0.4rem;
              line-height: 0.4rem;
              text-indent: 0.24rem;
              color: #fb8736;
              font-weight: 600;
              margin-bottom: 0.2133333333rem;
              font-size: 0.4rem; }
            .selling .time_shop .time_m .time_right .Headset .headset_left .h_p {
              text-indent: 0.24rem;
              width: 2.9866666667rem;
              height: 0.8533333333rem;
              line-height: 0.8533333333rem;
              color: #666666;
              font-size: 0.3466666667rem; }
          .selling .time_shop .time_m .time_right .Headset .headset_right {
            float: right;
            width: 2.12rem;
            height: 2.1333333333rem;
            /* flex:1;*/
            /*width:(115rem/75)m;*/ }
            .selling .time_shop .time_m .time_right .Headset .headset_right img {
              display: block;
              width: 1.9066666667rem;
              height: 2.0533333333rem;
              margin-right: 0.2133333333rem; }
        .selling .time_shop .time_m .time_right .Cup {
          height: 2.4rem;
          width: 4.8rem;
          /* display:flex;
           display: -webkit-flex;*/ }
          .selling .time_shop .time_m .time_right .Cup .cup_left {
            width: 2.6666666667rem;
            height: 2.4rem;
            /*  flex:1;*/
            float: left; }
            .selling .time_shop .time_m .time_right .Cup .cup_left .cup_h4 {
              height: 0.6666666667rem;
              line-height: 0.6666666667rem;
              color: #0abcff;
              font-size: 0.4rem;
              font-weight: 600;
              margin-bottom: 0.2133333333rem;
              text-indent: 0.24rem; }
            .selling .time_shop .time_m .time_right .Cup .cup_left .cuo_p {
              height: 0.64rem;
              line-height: 0.64rem;
              color: #666666;
              font-size: 0.3466666667rem;
              text-indent: 0.24rem; }
          .selling .time_shop .time_m .time_right .Cup .cup_right {
            height: 2rem;
            padding-top: 0.4rem;
            /*  flex:1;*/
            width: 1.8533333333rem;
            float: left; }
            .selling .time_shop .time_m .time_right .Cup .cup_right img {
              height: 1.8666666667rem;
              width: 1.8666666667rem;
              display: block;
              margin-right: 0.2133333333rem; }

/*体检专区*/
.Physical {
  width: 100%;
  min-height: 6.6666666667rem; }
  .Physical .selling_top {
    height: 1.0666666667rem; }
    .Physical .selling_top .selling_container {
      position: relative;
      /*width:(680rem/75);*/
      /*margin:0 auto;*/
      margin: 0 0.4266666667rem 0 0.4266666667rem; }
      .Physical .selling_top .selling_container .sell_1 {
        position: absolute;
        width: 0.12rem;
        height: 0.4533333333rem;
        left: 0;
        top: 0.3333333333rem; }
      .Physical .selling_top .selling_container .sell_2 {
        position: absolute;
        width: 0.2rem;
        height: 0.3466666667rem;
        right: 0.2666666667rem;
        top: 0.3733333333rem; }
      .Physical .selling_top .selling_container .sell_good {
        height: 1.0666666667rem;
        line-height: 1.0666666667rem;
        text-indent: 0.2666666667rem; }
  .Physical .Physical_first {
    width: 100%;
    height: auto; }
    .Physical .Physical_first .Physical_container {
      /* width:(683rem/75)m;*/
      height: auto;
      /*margin:0 auto;m*/
      margin: 0 0.4266666667rem 0 0.4266666667rem; }
      .Physical .Physical_first .Physical_container .mm_g {
        height: auto;
        margin-bottom: 0.2666666667rem; }
        .Physical .Physical_first .Physical_container .mm_g .Physical_bac {
          height: 3.7333333333rem;
          width: 9.1066666667rem;
          position: relative; }
          .Physical .Physical_first .Physical_container .mm_g .Physical_bac .Physical_img {
            display: block;
            height: 3.7333333333rem;
            width: 9.1066666667rem; }
          .Physical .Physical_first .Physical_container .mm_g .Physical_bac .Physical_sapn {
            display: block;
            position: absolute;
            width: 2.1733333333rem;
            height: 0.88rem;
            background: #ff6666;
            color: #ffffff;
            line-height: 0.88rem;
            text-align: center;
            font-size: 0.3733333333rem;
            top: 0;
            left: 0; }
        .Physical .Physical_first .Physical_container .mm_g .container_mm {
          height: 2.9333333333rem;
          border-left: 0.0133333333rem solid #dddddd;
          border-right: 0.0133333333rem solid #dddddd;
          border-bottom: 0.0133333333rem solid #dddddd; }
          .Physical .Physical_first .Physical_container .mm_g .container_mm .text_mm {
            height: 1.04rem; }
            .Physical .Physical_first .Physical_container .mm_g .container_mm .text_mm .text_yu {
              height: 1.04rem;
              float: left;
              margin-left: 0.3466666667rem;
              color: #333333;
              font-size: 0.4rem;
              line-height: 1.04rem; }
            .Physical .Physical_first .Physical_container .mm_g .container_mm .text_mm .text_yu_1 {
              float: right;
              height: 1.04rem;
              margin-right: 0.2666666667rem;
              color: #333333;
              font-size: 0.2666666667rem;
              line-height: 1.04rem; }
              .Physical .Physical_first .Physical_container .mm_g .container_mm .text_mm .text_yu_1 time {
                color: #999999; }
          .Physical .Physical_first .Physical_container .mm_g .container_mm .text_jian {
            min-height: 0.5066666667rem;
            line-height: 0.5066666667rem;
            width: 8.8rem;
            padding-left: 0.2933333333rem;
            color: #666666;
            font-size: 0.32rem; }
          .Physical .Physical_first .Physical_container .mm_g .container_mm .text_price {
            height: 0.9466666667rem;
            /*border-bottom:(1rem/75) solid #dddddd;*/ }
            .Physical .Physical_first .Physical_container .mm_g .container_mm .text_price .text_left {
              float: left;
              height: 0.9466666667rem;
              line-height: 0.9466666667rem;
              color: #b4b4b4;
              font-size: 0.32rem;
              margin-left: 0.32rem;
              text-decoration: line-through; }
            .Physical .Physical_first .Physical_container .mm_g .container_mm .text_price .text_right {
              float: right;
              margin-right: 0.2666666667rem;
              height: 0.9466666667rem;
              line-height: 0.9466666667rem;
              font-size: 0.32rem;
              color: #999999; }
              .Physical .Physical_first .Physical_container .mm_g .container_mm .text_price .text_right .t_1 {
                height: 0.9466666667rem;
                line-height: 0.9466666667rem;
                color: #ff6666;
                font-size: 0.4rem; }
              .Physical .Physical_first .Physical_container .mm_g .container_mm .text_price .text_right .t_2 {
                height: 0.9466666667rem;
                line-height: 0.9466666667rem;
                color: #ff6666;
                font-size: 0.2666666667rem; }
              .Physical .Physical_first .Physical_container .mm_g .container_mm .text_price .text_right .t_3 {
                height: 0.9466666667rem;
                line-height: 0.9466666667rem;
                color: #ff6666;
                font-size: 0.2666666667rem; }

/*体检专区的演示*/
#head_top {
  margin-bottom: 0.2666666667rem; }

.border_m {
  height: 0.2666666667rem;
  background: #eeeeee;
  width: 100%;
  margin-bottom: 0.2666666667rem; }

/*点击跳转判断的三个弹窗*/
#tan_1 {
  height: 6.4266666667rem; }

#tan_2 {
  height: 6.4533333333rem; }

#tan_3 {
  height: 8rem; }

.Popup {
  width: 8.5466666667rem;
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 0.2rem;
  /*  display:none;*/
  z-index: 1; }
  .Popup .Popup_top {
    width: 8.5466666667rem;
    height: 0.8533333333rem;
    border-bottom: 0.0133333333rem solid #dddddd;
    padding-top: 0.4666666667rem;
    margin-bottom: 0.4rem;
    position: relative;
    line-height: 0.4rem;
    font-size: 0.4rem;
    color: #666666;
    text-align: center;
   /*   span{
        !*float:left;*!
        display:block;
        height:(30rem/75);
  
        margin-left:(190rem/75);
      }*/ }
    .Popup .Popup_top img {
      display: block;
      height: 0.4rem;
      width: 0.4rem;
      /* margin-right:(30rem/75);*/
      /* float:right;*/
      position: absolute;
      right: 0.4rem; }
  .Popup .input_container {
    width: 8.5466666667rem;
    height: auto;
    margin-bottom: 0.4rem; }
    .Popup .input_container .input_name {
      width: 8.5466666667rem;
      height: 1.2266666667rem;
      padding-top: 0.1333333333rem;
      display: flex;
      display: -webkit-flex; }
      .Popup .input_container .input_name .laber {
        display: block;
        height: 1.2266666667rem;
        width: 0.7733333333rem;
        line-height: 1.2266666667rem;
        font-size: 0.32rem;
        color: #666666;
        margin-left: 0.2666666667rem;
        margin-right: 0.6666666667rem; }
      .Popup .input_container .input_name input {
        outline: none;
        width: 6.3333333333rem;
        border-color: #dddddd;
        border-width: 0.0133333333rem;
        border-style: solid;
        height: 1.04rem;
        text-indent: 0.2666666667rem; }
    .Popup .input_container .Open {
      width: 8.5466666667rem;
      height: 2.5333333333rem;
      padding-top: 0.5333333333rem;
      margin-bottom: 0.2666666667rem; }
      .Popup .input_container .Open img {
        width: 1.3733333333rem;
        height: 1.6533333333rem;
        display: block;
        margin: auto; }
      .Popup .input_container .Open p {
        width: 8.5466666667rem;
        height: 0.88rem;
        line-height: 0.88rem;
        text-align: center;
        font-size: 0.3466666667rem;
        color: #666666; }
        .Popup .input_container .Open p time {
          color: #ff6666; }
    .Popup .input_container .fail {
      width: 8.5466666667rem;
      height: 1.7333333333rem;
      padding-top: 0.5066666667rem; }
      .Popup .input_container .fail .fail_container {
        height: 1.7333333333rem;
        width: 7.84rem;
        margin: auto;
        line-height: 0.56rem;
        font-size: 0.3733333333rem;
        color: #666666; }
    .Popup .input_container .p_fail {
      height: 0.56rem;
      width: 8.5466666667rem;
      text-align: center;
      font-size: 0.3733333333rem;
      color: #666666; }
    .Popup .input_container #te_bie {
      margin-right: 0.4666666667rem;
      width: auto; }
  .Popup .butt_two {
    width: 8.5466666667rem;
    height: 1.5466666667rem;
    padding-top: 0.5333333333rem; }
    .Popup .butt_two .sui_b {
      width: 3.76rem;
      height: 1.04rem;
      float: left;
      color: #81ddd5;
      line-height: 1.04rem;
      text-align: center;
      font-size: 0.3466666667rem;
      border: 0.0133333333rem solid #dddddd;
      border-radius: 0.0666666667rem;
      margin-left: 0.2933333333rem;
      margin-right: 0.2933333333rem; }
    .Popup .butt_two .guang_g {
      width: 3.7866666667rem;
      height: 1.0666666667rem;
      float: left;
      color: #fff;
      background: #27c4b6;
      line-height: 1.0666666667rem;
      text-align: center;
      font-size: 0.3466666667rem;
      border-radius: 0.0666666667rem; }
  .Popup .button_m {
    width: 6.9333333333rem;
    height: 1.0933333333rem;
    line-height: 1.0933333333rem;
    text-align: center;
    background: #27c4b6;
    color: #fff;
    font-size: 0.4rem;
    display: block;
    margin: auto;
    border-radius: 0.0666666667rem; }

/*整平背景*/
.bac_jing {
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.5;
  filter: Alpha(opacity=50);
  position: fixed;
  top: 0;
  left: 0; }

/*# sourceMappingURL=index.css.map */
