@charset "utf-8";
@import "variables";
/*top*/
/*.header-top{
  width:100%;
  height:$top_h;
  border-bottom:1px solid #eeeeee;
  position:relative;
}
.header-top img{
    width:$margin_20;
    height:(36rem/75);
    position:absolute;
     top:(30rem/75);
     left:$margin_20;
}
.header-top h2{
  height:$top_h;
  text-align:center;
  line-height:$top_h;
  font-size:$font_m;
  color:#333333;
}
.header-top a{
   line-height:$top_h;
   font-size:$font_28;
   color:#8f8f8f;
   position:absolute;
   right:$margin_20;
   top:0;
}*/
/*内容部分*/
.container_staff{
  width:100%;
  height:(177rem/75);
  border-bottom:$margin_20 solid #eeeeee;
  /*display:flex;
  display: -webkit-flex;*/
  padding-top:$padding_33;
  position:relative;
}
.fu_shop{
  width:(240rem/75);
  float:left;
  background:none;
};
.xin_z{
  width:(240rem/75);
  //float:left;
  /*margin:0 auto;*/
  position:absolute;
  left:50%;
  top:$padding_33;
  transform: translateX(-50%);
  -webkit-transform:translateX(-50%);
};
.ti_jian{
  width:(240rem/75);
  float:right;
};
.container_staff dl{
  height:(150rem/75);

}
.container_staff dl dt{
      height:(99rem/75);
    /*  width:(99rem/75);*/
   margin-bottom:(9rem/75)
}
.container_staff dl dt img{
  height:(99rem/75);
  width:(99rem/75);
  margin:0 auto;
  display:block;
}
.container_staff dl dd{
    height:(43rem/75);
    line-height:(43rem/75);
  text-align:center;
  color:#3e3e3e;
  font-size:$font_24;
}
/*热销商品*/
.selling{
  width:100%;
  min-height:(453rem/75);
  border-bottom:$margin_20 solid #eeeeee;
    .selling_top{
       height:(80rem/75);
      .selling_container{
        position:relative;
       /* width:(680rem/75);
        margin:0 auto;*/
        margin:0 (32rem/75) 0 (32rem/75);

        .sell_1{
          position:absolute;
          width:(9rem/75);
          height:(34rem/75);
          left:0;
          top:(25rem/75);
        };
        .sell_2{
          position:absolute;
          width:(15rem/75);
          height:(26rem/75);
          right:(20rem/75);
          top:(28rem/75);
        };
        .sell_good{
          height:(80rem/75);
          line-height:(80rem/75);
          text-indent:(20rem/75);
        };
      }
    };
    .time_shop{
      width:100%;
      height:(373rem/75);
      border-bottom:(1rem/75) solid #dddddd;
      border-top:(1rem/75) solid #dddddd;
      overflow: hidden;
     /* border-top:(1rem/75) solid #dddddd;*/
      .time_m{
       /* width:(680rem/75);m*/
        height:(373rem/75);
        /*margin:0 auto;m*/
        width:100%;
        /*display:flex;
        display: -webkit-flex;*/
        .time_left{
          width:(359rem/75);
          height:(350rem/75);
          float:left;
          /*border-right:(1rem/75) solid #dddddd;*/
          padding-top:(24rem/75);
          .time_shop_one{
            height:(38rem/75);
            margin-bottom:(10rem/75);
            margin-left:(32rem/75);
            span{
              height:(38rem/75);
              line-height:(38rem/75);
             /* text-indent:$margin_20;*/
              font-size:$font_30;
              color:#ff6666;
              font-weight:600;
              display:block;
              width:(138rem/75);
              float:left;
            };
            .time_container{
              height:(38rem/75);
              float:left;
              display:flex;
              /*width:(203rem/75);
              padding-left:$margin_20;*/
              .time_m{
                background:#ff6666;
                color:#fff;
                line-height:(38rem/75);
                font-size:$font_20;
                border-radius:(5rem/75);
                /* margin-right:(20rem/75);*/
                display:inline-block;
                height:(38rem/75);
                text-align:center;
                width:(38rem/75);
              }
            };
          };
          .portable_battery{
            height:(60rem/75);
            line-height:(60rem/75);
            text-indent:(32rem/75);
            color:#666666;
            font-size:$font_26;
          };
          .img_time{
            height:(190rem/75);
            padding-top:(40rem/75);
            img{
              display:block;
              height:(147rem/75);
              width:(312rem/75);
              margin-left:(32rem/75);
            }

          };
        };
        .time_right{
         /* flex:1;*/
          float:right;
          width:(360rem/75);
          height:(373rem/75);
         /* padding-top:(24rem/75);*/
          border-left:(1rem/75) solid #dddddd;
          .Headset{
            height:(163rem/75);
            padding-top:(24rem/75);
            border-bottom:(1rem/75) solid #dddddd;
            margin-bottom:(4rem/75);
            /*m*/
           /* display:flex;
            display: -webkit-flex;*/

            .headset_left{
              float:left;
              width:(200rem/75);
             /* flex:1;*/
              height:(160rem/75);
              .h_3{
                width:(224rem/75);
                height:(30rem /75);
                line-height:(30rem/75);
                text-indent:(18rem/75);
                color:#fb8736;
                font-weight:600;
                margin-bottom:(16rem/75);
                font-size:$font_30;
              };
              .h_p{
                text-indent:(18rem/75);
                width:(224rem/75);
                height:(64rem/75);
                line-height:(64rem/75);
                color:#666666;
                font-size:$font_26;
              };
            };
            .headset_right{
              float:right;
              width:(159rem/75);

              height:(160rem/75);
             /* flex:1;*/
              /*width:(115rem/75)m;*/
              img{
                display:block;
                width:(143rem/75);
                height:(154rem/75);
                margin-right:(16rem/75);
              }
            }

          };
          .Cup{
            height:(180rem/75);
            width:(360rem/75);
           /* display:flex;
            display: -webkit-flex;*/
            .cup_left{
              width:(200rem/75);
              height:(180rem/75);
            /*  flex:1;*/
              float:left;
              .cup_h4{
                height:(50rem/75);
                line-height:(50rem/75);
                color:#0abcff;
                font-size:$font_30;
                font-weight:600;
                margin-bottom:(16rem/75);
                text-indent:(18rem/75);
              };
              .cuo_p{
                height:(48rem/75);
                line-height:(48rem/75);
                color:#666666;
                font-size:$font_26;
                text-indent:(18rem/75);

              };

            };
            .cup_right{
              height:(150rem/75);
              padding-top:(30rem/75);
            /*  flex:1;*/
              width:(139rem/75);
              float:left;
              img{
                height:(140rem/75);
                width:(140rem/75);
                display:block;
                margin-right:(16rem/75);
              }
            };

          }

        };
      }
    };
}
/*体检专区*/
.Physical{
  width:100%;
  min-height:(500rem/75);
  .selling_top{
    height:(80rem/75);
    .selling_container{
      position:relative;
      /*width:(680rem/75);*/
      /*margin:0 auto;*/
      margin:0 (32rem/75) 0 (32rem/75);
      .sell_1{
        position:absolute;
        width:(9rem/75);
        height:(34rem/75);
        left:0;
        top:(25rem/75);
      };
      .sell_2{
        position:absolute;
        width:(15rem/75);
        height:(26rem/75);
        right:(20rem/75);
        top:(28rem/75);
      };
      .sell_good{
        height:(80rem/75);
        line-height:(80rem/75);
        text-indent:(20rem/75);
      };
    }
  };
  .Physical_first{
    width:100%;
    height:auto;
    .Physical_container{
     /* width:(683rem/75)m;*/
      height:auto;
      /*margin:0 auto;m*/
      margin:0 (32rem/75) 0 (32rem/75);
     .mm_g{
       height:auto;
       margin-bottom:$margin_20;
       .Physical_bac{
         height:(280rem/75);
         width:(683rem/75);
         position:relative;
         .Physical_img{
           display:block;
           height:(280rem/75);
           width:(683rem/75);
         };
         .Physical_sapn{
           display:block;
           position:absolute;
           width:(163rem/75);
           height:(66rem/75);
           background:#ff6666;
           color: #ffffff;
           line-height:(66rem/75);
           text-align:center;
           font-size:$font_28;
           top:0;
           left:0;
         };
       };
       .container_mm{
         height:(220rem/75);
         border-left:(1rem/75) solid #dddddd;
         border-right:(1rem/75) solid #dddddd;
         border-bottom:(1rem/75) solid #dddddd;
         .text_mm{
           height:(78rem/75);
           .text_yu{
             height:(78rem/75);
             float:left;
             margin-left:(26rem/75);
             color:#333333;
             font-size:$font_30;
             line-height:(78rem/75);
           };
           .text_yu_1{
             float:right;
             height:(78rem/75);
             margin-right:$margin_20;
             color:#333333;
             font-size:$font_20;
             line-height:(78rem/75);
             time{
               color:#999999;
             }
           };
         }
         .text_jian{
           min-height:(38rem/75);
           line-height:(38rem/75);
           width:(660rem/75);
           padding-left:(22rem/75);
           color:#666666;
           font-size:$font_24;
         };
         .text_price{
           height:(71rem/75);
           /*border-bottom:(1rem/75) solid #dddddd;*/
           .text_left{
             float:left;
             height:(71rem/75);
             line-height:(71rem/75);
             color:#b4b4b4;
             font-size:$font_24;
             margin-left:(24rem/75);
             text-decoration: line-through;
           };
           .text_right{
             float:right;
             margin-right:$margin_20;
             height:(71rem/75);
             line-height:(71rem/75);
             font-size:$font_24;
             color:#999999;
             .t_1{
               height:(71rem/75);
               line-height:(71rem/75);
               color:#ff6666;
               font-size:$font_30;
             };
             .t_2{
               height:(71rem/75);
               line-height:(71rem/75);
               color:#ff6666;
               font-size:$font_20;
             };
             .t_3{
               height:(71rem/75);
               line-height:(71rem/75);
               color:#ff6666;
               font-size:$font_20;
             };
           };
         };
       };
     }
    };
  };

}

/*体检专区的演示*/
#head_top{
  margin-bottom:$margin_20;
}
.border_m{
  height:$margin_20;
  background:#eeeeee;
  width:100%;
  margin-bottom:$margin_20;
};
/*点击跳转判断的三个弹窗*/
#tan_1{
 height:(482rem/75);
}
#tan_2{
  height:(484rem/75);
};
#tan_3{
  height:(600rem/75);
}

.Popup{
  width:(641rem/75);
  background:#fff;
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius:(15rem/75);
/*  display:none;*/
  z-index: 1;
  .Popup_top{
    width:(641rem/75);
    height:(64rem/75);
    border-bottom:(1rem/75) solid #dddddd;
    padding-top:(35rem/75);
    margin-bottom:(30rem/75);
    position:relative;
    line-height:(30rem/75);
    font-size:$font_30;
    color:#666666;
    text-align:center;
    img{
      display:block;
      height:(30rem/75);
      width:(30rem/75);
     /* margin-right:(30rem/75);*/
     /* float:right;*/
      position: absolute;
      right:(30rem/75);
    };
 /*   span{
      !*float:left;*!
      display:block;
      height:(30rem/75);

      margin-left:(190rem/75);
    }*/
  };
  .input_container{
    width:(641rem/75);
    height:auto;
    margin-bottom:(30rem/75);
    .input_name{
      width:(641rem/75);
      height:(92rem/75);
      padding-top:(10rem/75);
      display:flex;
      display:-webkit-flex;
      .laber{
        display:block;
        height:(92rem/75);
        width:(58rem/75);
        line-height:(92rem/75);
        font-size:$font_24;
        color:#666666;
        margin-left:$margin_20;
        margin-right:(50rem/75);
      };
      input{
        outline:none;
        width:(475rem/75);
        border-color:#dddddd;
        border-width:(1rem/75);
        border-style:solid;
        height:(78rem/75);
        text-indent:(20rem/75);

      }
    };
    .Open{
      width:(641rem/75);
      height:(190rem/75);
      padding-top:(40rem/75);
      margin-bottom:(20rem/75);
      img{
        width:(103rem/75);
        height:(124rem/75);
        display:block;
        margin:auto;
      };
      p{
        width:(641rem/75);
        height:(66rem/75);
        line-height:(66rem/75);
        text-align:center;
        font-size:$font_26;
        color:#666666;
        time{
          color:#ff6666;
        }
      }
    };
    .fail{
      width:(641rem/75);
      height:(130rem/75);
      padding-top:(38rem/75);
      .fail_container{
        height:(130rem/75);
        width:(588rem/75);
        margin:auto;
        line-height:(42rem/75);
        font-size:$font_28;
        color:#666666;
      };
    };
    .p_fail{
      height:(42rem/75);
      width:(641rem/75);
      text-align:center;
      font-size:$font_28;
      color:#666666;
    };

    #te_bie{
      margin-right:(35rem/75);
      width:auto;
    };
  };
  .butt_two{
    width:(641rem/75);
    height:(116rem/75);
    padding-top:(40rem/75);
    .sui_b{
      width:(282rem/75);
      height:(78rem/75);
      float:left;
      color:#81ddd5;
      line-height:(78rem/75);
      text-align:center;
      font-size:$font_26;
      border:(1rem/75) solid #dddddd;
      border-radius:(5rem/75);
      margin-left:(22rem/75);
      margin-right:(22rem/75);
    };
    .guang_g{
      width:(284rem/75);
      height:(80rem/75);
      float:left;
      color:#fff;
      background:#27c4b6;
      line-height:(80rem/75);
      text-align:center;
      font-size:$font_26;
      border-radius:(5rem/75);
    }
  };

  .button_m{
    width:(520rem/75);
    height:(82rem/75);
    line-height:(82rem/75);
    text-align:center;
    background:#27c4b6;
    color:#fff;
    font-size:$font_30;
    display:block;
    margin:auto;
    border-radius:(5rem/75);
  };
}
/*整平背景*/
.bac_jing{
  height:100%;
  width:100%;
  background:#000000;
  opacity:0.5;
  filter:Alpha(opacity=50);
  position:fixed;
  top:0;
  left:0;
}